{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock title %}

{% block description %}{{ page.description }}{% endblock description %}

{% block content %}
<div class="hero">
  <h1>
    {{ page.title }}
  </h1>
  <div class="subtitle">{{ page.date }} · {{ page.reading_time }} minute read</div>

  {% if page.toc %}
    <ul class="toc">
    {% for h2 in page.toc %}
        <li>
          <a href="{{h2.permalink | safe}}">{{ h2.title }}</a>
        </li>
    {% endfor %}
    </ul>
  {% endif %}
</div>

<div class="body">
  {{ page.content | safe }}
</div>

<div class="revision-history">
  You can see the revision history of this post on <a href="https://github.com/KeeganJ/keeganj.com/commits/master/content/posts/{{ page.slug }}.md">Github</a>
</div>

<footer>
  <nav>
    <a href="/">Home</a> · 
    <a href="/posts/">Posts</a> · 
    <a href="/about/">About</a> · 
    <a href="https://github.com/keeganj" target="blank" rel="noopener">Github</a>
  </nav>
  <div>© {{  now() | date(format="%Y") }} Keegan Jorgensen</div>
</footer>
{% endblock content %}